@charset "UTF-8";

body {
	width: 100%;
	margin: 0 auto;

}

h1 {
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
}

.login {
	margin-top: 150px;
	text-align: center;
}

ul {
	list-style: none;
}

p {
	text-align: center;
}

a {
	color: blue;
	text-decoration: none;
}

input {
	padding: 5px;
}