<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bbshome.css}" rel="stylesheet">
</head>
<body>

	<p style="margin-left: 60ox; margin-bottom: 0; text-align: left">
		<a href="bbshome" style="font-size: 30px; margin-left: 50px;"> Thread一覧へ </a>
	</p>
	<h1 style="text-align: center;">編集画面</h1>
	<div class="block1">
		<form action="edit" method="post">
			<p>
				<input type="hidden" name="name" th:value="${user_name}"
					style="outline: none;">
			</p>

			<div class="p1">
				<p>タイトル</p>
				<p>
					<input type="text" name="title" th:value="${bbsTitle}">
				</p>
			</div>

			<div class="p3">
				<p style="">投稿内容</p>
				<p style="margin-bottom: 0;">
					<textarea name="contents" th:text="${bbsContents}"></textarea>
				</p>
			</div>

			<input type="hidden" name="bbs_id" th:value="${bbsId}">
			<p th:text="${msg}" style="color: red; text-align: center;"></p>

			<input type="submit" value="編集"
				style="width: 40px; height: 30px; margin-bottom: 35px; margin: 0 0 0 295px;">
		</form>
	</div>

</body>
</html>