<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bbshome.css}" rel="stylesheet">
<script type="text/javascript">
</script>
</head>
<body>

	<h1>Thread一覧</h1>

	<div class="block1">
		<form action="/bbs/create" method="post">
			<p>
				<input type="hidden" name="name" th:value="${userName}"
					style="outline: none;">
			</p>

			<div class="p1">
				<p>タイトル</p>
				<p>
					<input type="text" name="title" th:value="${bbsTitle}">
				</p>
			</div>


			<div class="p3">
				<p style="">投稿内容</p>
				<p style="margin-bottom: 0;">
					<textarea name="contents" th:text="${bbsMsg}"></textarea>
				</p>
			</div>
			<p th:text="${msg}" style="color: red; text-align: center;"></p>
			<input type="submit" value="投稿"
				style="width: 40px; height: 30px; margin-bottom: 35px; margin: 0 0 0 295px;">
		</form>
	</div>
	<hr style="margin: 20px;">


	<div th:each="bbsList : ${bbsList}" class="block2">
		<p>
			タイトル：<a th:href="@{/bbs/thread(id=${bbsList.id})}"><span
				th:text="${bbsList.title}"></span></a> <span
				th:text="${#temporals.format(bbsList.add_date, 'yyyy/MM/dd HH:mm:ss')}"></span>
		</p>
		<div class="name_p">
			<p>
				名前：<span th:text="${bbsList.name}"></span>
			</p>
		</div>

		<div class="contents_p">
			<p style="margin-top: 10px; margin-bottom: 5px;">内容：</p>
			<p th:text="${bbsList.contents}" style="margin-bottom: 5px;"></p>
		</div>


		<div>
			<th:block th:if="${userId == bbsList.user_id}">
				<div class="edit">
					<form action="/bbs/edit" method="post">
						<input type="hidden" name="bbsId" th:value="${bbsList.id}">
						<input type="hidden" name="title" th:value="${bbsList.title}">
						<input type="hidden" name="name" th:value="${bbsList.name}">
						<input type="hidden" name="contents"
							th:value="${bbsList.contents}"> <input type="submit"
							value="編集">
					</form>
				</div>

				<div class="/bbsremove">
					<form action="/bbs/remove" method="get">
						<input type="submit" value="削除"> <input type="hidden"
							name="bbsListId" th:value="${bbsList.id}">
					</form>
				</div>
			</th:block>
		</div>
	</div>

</body>
</html>
