<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body style="text-align: center;">
	<h1>Login画面</h1>
	<div class="block">
		<form action="/bbs/login/validate" method="post">
			<div class="login">
					<p><input type="text" name="name" placeholder="Name"
						th:value="${name}"></p>
					<p><input type="password" name="password"
						placeholder="Password"></p>
					<p><input type="submit" value="ログイン"
						style="margin: 5px 0 0 100px;" ></p>
			</div>
		</form>
		<div>
			<p th:text="${msg}" style="color: red"></p>
			<a href="/portfolio">ポートフォリオ画面へ</a><span>・</span><a
				href="/bbs/login/registration">ログイン登録画面へ</a>
		</div>
	</div>
</body>
</html>