<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LoginRegistration</title>
<link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body style="text-align: center;">
	<h1>Login登録画面</h1>
	<div class="block">
		<form action="/bbs/login/create" method="post">
			<div class="login">
					<p><input type="text" name="name" placeholder="Name"
						th:value="${name}"></p>
					<p><input type="password" name="password"
						placeholder="Password"></p>
					<p><input type="submit" value="登録"
						style="margin: 5px 0 0 125px;"></p>
			</div>
		</form>
		<p th:text="${msg}" style="color: red"></p>
		<a href="/bbs/login" >ログイン画面へ</a>
	</div>
</body>
</html>