<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Portfolio</title>
<link th:href="@{/css/login.css}" rel="stylesheet">
<script th:src="@{/js/.js}"></script>
</head>
<body>
	<h1>Login登録画面</h1>
	<form action="loginregistration" method="post">
		<div class="login">
			<ul>
				<li><input type="text" name="name" placeholder="Name" th:value="${name}"></li>
				<li><input type="password" name="password" placeholder="Password"></li>
				<li><input type="submit" value="button"></li>
			</ul>
		</div>
	</form>
	<p th:text="${msg}"></p>
	<a href="login">ログイン画面へ</a>
</body>
</html>