<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Portfolio</title>
<link th:href="@{/css/login.css}" rel="stylesheet">
<script th:src="@{/js/.js}"></script>
</head>
<body>
	<h1>Login画面</h1>
	<form action="login" method="post">
		<div class="login">
			<ul>
				<li><input type="text" name="name" placeholder="Name"></li>
				<li><input type="password" name="password"
					placeholder="Password"></li>
				<li><input type="submit" value="button"></li>
			</ul>
		</div>
	</form>

</body>
</html>