<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Portfolio</title>
<link th:href="@{/css/mainhome.css}" rel="stylesheet">
<script th:src="@{/js/mainhome.js}"></script>
</head>
<body>
	<header>
		<div class="header_1">
			<ul>
				<li><a href="#5">TAKESHI NAKASONE</a></li>
			</ul>
		</div>
		<div class="header_2">
			<ul>
				<li><a href="/bbs/login">ポートフォリオ</a></li>
				<li><a href="#4">お問い合わせ</a></li>
				<li><a href="#3">経歴</a></li>
				<li><a href="#2">スキル</a></li>
				<li><a href="#1">自己紹介</a></li>
			</ul>
		</div>
	</header>
	<div class="box_main">
		<div class="h1_1" id="5">
			<h1 style="clear: both;">TAKESHI NAKASONE</h1>
			<p>PORTFOLIO</p>
		</div>

		<div class="box_1" id="1">
			<div class="h1_2">
				<h1>自己紹介</h1>
			</div>
			<table>
				<tr>
					<th>名前</th>
					<td>仲宗根　武</td>
				</tr>
				<tr>
					<th>性別</th>
					<td>男</td>
				</tr>
				<tr>
					<th>生年月日</th>
					<td>1997/07/08</td>
				</tr>
				<tr>
					<th>住所</th>
					<td>沖縄県</td>
				</tr>
				<tr>
					<th>最終学歴</th>
					<td>職業訓練校</td>
				</tr>
				<tr>
					<th>趣味</th>
					<td>車の整備・バイク整備・ドラマ鑑賞・日曜大工・読書</td>
				</tr>
			</table>
		</div>

		<div class="box_2" id="2">
			<div class="h1_3">
				<h1>スキル</h1>
				<table>
					<tr>
						<th>Java</th>
						<td>基本は習得済み</td>
					</tr>
					<tr>
						<th>HTML＆CSS</th>
						<td>基本は習得済み</td>
					</tr>
					<tr>
						<th>Javascript</th>
						<td>勉強中</td>
					</tr>
					<tr>
						<th>Linux</th>
						<td>基本的なコマンドは習得済み</td>
					</tr>
					<tr>
						<th>SQL</th>
						<td>基本的なSQL文は習得済み</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="box_3" id="3">
			<div class="h1_4">
				<h1>経歴</h1>
				<table>
					<tr>
						<th>経歴</th>
						<td>外線工事に従事</td>
					</tr>
					<tr>
						<th>経歴</th>
						<td>屋内外配線工事・屋内外配管工事・土木工事に従事</td>
					</tr>
					<tr>
						<th>経歴</th>
						<td>派遣社員としてスマホやwebの検証業務に従事</td>
					</tr>
					<tr>
						<th>経歴</th>
						<td>客先常駐エンジニアとしてシステム開発などに従事</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="box_4" id="4">
			<div class="h1_4">
				<h1>お問い合わせ</h1>
				<div class="inquiry">
					<form action="inquiry" method="post">
						<ul>
							<li><input type="text" placeholder="Name" name="name"
								required="required"></li>

							<li><input type="email" placeholder="Email" name="email"
								required="required"></li>
							<li><textarea placeholder="Message" name="message"
									required="required"></textarea></li>
						</ul>
						<div class="submit">
							<input style="padding: 5px;" type="submit" value="Send">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>